<div id="mainvisual">
<%= image_tag '/top.jpeg' %>
</div>


<section id="target">
<h1 class="site-title">看護で繋がるとは</h1>
<p>
このサイトは看護資格勉強中の人や<br>
看護師として働いている人が自分の中にある言葉や気持ちを話せる場所にすることで<br>
心を安らかにするための場所です。
</p>
</section>