/*-------------------------------------------
Text
-------------------------------------------*/
#target .site-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
#target p{
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  #target {
    background-color: #ffffff; /* 背景色を白に */
    margin-bottom: 80px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 50px 20px;
    border: 30px solid #f997cd; /* ピンクの縁取り */
    border-radius: 50px; /* 角を丸くする */
    box-sizing: border-box; /* ボーダーを含めたサイズ計算 */
  }
  
  /*-------------------------------------------
Mainvisual
-------------------------------------------*/
  #mainvisual {
    margin-bottom: 50px;
  }
  /*
  メインビジュアルを画面の高さに合わせる
  headerの高さが80pxあるので、100vhから80px分だけマイナスする
  */
  #mainvisual img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
  }
 
  /* about ================================ */
  .about-main {
    padding: 180px 8% 0;
    color: white;
  }
 
  .about-main h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
  }
 
  .about-main p {
    font-weight: 200;
    font-size: 20px;
  }
 
  .about-img {
    width: 84%;
  }
